
html {
    height:100%
}
.App {
    text-align: center;
    @apply bg-main
}


.App-logo {
    height: 40vmin;
    pointer-events: none;
}

thead th { position: sticky; top: 0; z-index: 50;background-color: rgb(64 64 64 / var(--tw-bg-opacity));}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.inter {
    font-family: 'Inter', sans-serif;
}

.mono {
    font-family: 'Monomaniac One', sans-serif;
}


.rubik {
    font-family: 'Rubik Mono One', sans-serif;
}

.russo {
    font-family: 'Russo One', sans-serif;
}

.btn {
    @apply px-2 py-1 text-center cursor-default transition duration-300 russo
}

.btn:hover {
    @apply cursor-pointer
}


.btn-normal{
    @apply btn bg-primary rounded-lg text-gray-700
}

.btn-normal:active {
    @apply bg-primaryDark
}

.btn-normal2{
    @apply btn bg-primary2 rounded-lg
}

.btn-normal2:active {
    @apply bg-primary2Dark
}


.btn-left {
    @apply bg-primary rounded-l-lg
}

.btn-left:active {
    @apply bg-primaryDark
}

.btn-right {
    @apply bg-primary2 rounded-r-lg
}

.btn-right:active{
    @apply bg-primary2Dark 
}

.input {
    @apply rounded-lg outline-none px-3 py-1 bg-main focus:bg-main transition duration-200 text-gray-200
}
.input:focus{
    @apply bg-main3 appearance-none
}

.label {
    @apply w-2/5
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.table-wrap::-webkit-scrollbar {
    display: block;
    height: 5px;
        width: 5px;
    background-color: transparent;
}
::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar-corner {
    display: none;
}
.table-wrap::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg,green,red);
    border-radius: 10px;
}
.tbl {
    @apply p-4
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

table {
    overflow: 'scroll'
}


.tabMenu {
    @apply bg-main;
    border-radius: 30px;
}

td {
    @apply px-4
}

.tabMenu .item {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    border-radius: 50px;
    background: transparent;
    position: relative;
    z-index: 1;
    padding: 8px 25px;
    min-width: 40px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.tabMenu .active {
    background: linear-gradient(79deg,green,red);
    border-radius: 50px;
}

.progressBar{
    background: hsla(0,0%,100%,.1);
    border-radius: 60px;
    height: 8px;
    position: relative;
}

.progressBarInner{
    background: linear-gradient(-294.72deg,#ff4581 9.05%,green 79.28%);
    border-radius: 4px;
    height: 8px;
    position: absolute;
    left: 0;
    top: 0;
}
@media only screen and (max-width: 1000px) {
    .progressBar,.progressBarInner {
        border-radius: 6px;
        height: 6px
    }
}
